[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Zakaria Hossain Foysal (xack20)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Zakaria Hossain Foysal (xack20)
	label-Verified = -1..+1 group user/Zakaria Hossain Foysal (xack20)
	push = group user/Zakaria Hossain Foysal (xack20)
	read = group user/Zakaria Hossain Foysal (xack20)
	rebase = group user/Zakaria Hossain Foysal (xack20)
	removeReviewer = group user/Zakaria Hossain Foysal (xack20)
	submit = group user/Zakaria Hossain Foysal (xack20)
[access "refs/heads/*"]
	create = group user/Zakaria Hossain Foysal (xack20)
	push = +force group user/Zakaria Hossain Foysal (xack20)
	pushMerge = group user/Zakaria Hossain Foysal (xack20)
	read = group user/Zakaria Hossain Foysal (xack20)
[access "refs/tags/*"]
	push = group user/Zakaria Hossain Foysal (xack20)
	push = +force group user/Zakaria Hossain Foysal (xack20)
